*.class
*.jar
*.war
*.ear
*.log
*.env
/build/
/bin/
/dist/
/out/
/nbproject/private/
/build/
/dist/
/nbbuild/
/nbdist/
/.nb-gradle/
/.classpath
/.project
/.settings/
/target/
/.idea/
/*.iml
/*.ipr
/*.iws
.DS_Store
Thumbs.db
*.swp
*.swo
*~
